@font-face{
    font-family: 'LanterosySansSerif';
    src: url(fonts/Lanterosy.otf);
}
body
{
	margin: 0px;
	padding: 0px;
	background: rgb(252, 250, 243);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #fefefe;
}
img {
	max-width:6%;
	position: relative;
}
.photo
{
	max-width:80%;
	box-shadow: 0 0 10px 5px rgb(179, 179, 179);
	border: 3px solid transparent;
	border-radius: 1em;
}
.titul-img
{
	max-width:50%;
}
.titul-img2
{
	max-width:27%;
	margin-right: 1em;
	margin-left: 4em;
}
.smile
{
	max-width:27%;
}
.Screen
{
	max-width:80%;
	margin-left: 5em;
	margin-top: 1em;
}
.bottom
{
	margin-bottom: 10em;
}

#report
{
	margin-top: 1em;
	color: #000000;
	background-color: #424242;
	text-align: center;
}
.margin h1
{
	margin-left: 5em;
	margin-right: 2.5em;
	font-size:x-large;
}

.margin p
{
	margin-left: 5em;
	margin-right: 2.5em;
	font-size:large;
}
#normalList
{
	height: 297mm;
	width: 210mm;
	padding-top: 2em;
	font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 10px auto;
	background-color: #ffffff;
	
	box-shadow: 0 0 5px 5px rgb(50, 50, 50);
	text-align: left;
}
#titul
{
	height: 297mm;
	width: 210mm;
	padding-top: 1em;
	font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 0px auto;
	background-color: #ffffff;
	
	box-shadow: 0 0 5px 5px rgb(50, 50, 50);
}
.container
{
	margin: 0px auto;
	width: 1250px;
}
#nav-wrapper
{
	background: linear-gradient(180deg, #ffffff, #cbcbcb);
  box-shadow: 0 0 10px 5px rgb(136, 136, 136);
}
#nav
{
	position: relative;
	height: 100px;
}
#logo 
{
	position: absolute;
	top: -1.5em;
	width: 100%;
    font-family: 'LanterosySansSerif';
    background: linear-gradient(130deg, #000000 0%, #007902 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prepiska
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-top: 4.0em;
    right: 67em;
    letter-spacing: 0.15em;
    background: linear-gradient(130deg, #000000 0%, #015102 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu
{
	position: absolute;
	right: 0;
	top: 0.5em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}
#menu li a
{
	display: inline-block;
	margin-left: 0.1em;
	padding: 1em 1.5em 0em 1.5em;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	outline: 0;
	color: #1a1919;
}
#banner
{
	
	position: relative;
	top: 4em;
	width: 1000px;
	text-align: center;
	color: rgb(10, 9, 9);
	font-size: 1.5em;
}
