@font-face{
    font-family: 'LanterosySansSerif';
    src: url(fonts/Lanterosy.otf);
}
body
{
	margin: 0px;
	padding: 0px;
	background: rgb(252, 250, 243);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #fefefe;
}
img {
	max-width:6%;
	position: relative;
}
.photo
{
	max-width:80%;
	box-shadow: 0 0 10px 5px rgb(179, 179, 179);
	border: 3px solid transparent;
	border-radius: 1em;
}
.titul-img
{
	max-width:50%;
}
.titul-img2
{
	max-width:27%;
	margin-right: 1em;
	margin-left: 4em;
}
.smile
{
	max-width:13%;
	
}
.Screen
{
	max-width:80%;
	margin-left: 5em;
	margin-top: 1em;
}
.bottom
{
	margin-bottom: 10em;
}

#report
{
	margin-top: 1em;
	color: #000000;
	background-color: #424242;
	text-align: center;
}
.margin h1
{
	margin-left: 5em;
	margin-right: 2.5em;
	font-size:x-large;
}

.margin p, code
{
	margin-left: 5em;
	margin-right: 2.5em;
	font-size:large;
}
#normalList
{
	height: 297mm;
	width: 210mm;
	padding-top: 2em;
	font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 10px auto;
	background-color: #ffffff;
	
	box-shadow: 0 0 5px 5px rgb(50, 50, 50);
	text-align: left;
}
#titul
{
	height: 297mm;
	width: 210mm;
	padding-top: 1em;
	font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 0px auto;
	background-color: #ffffff;
	
	box-shadow: 0 0 5px 5px rgb(50, 50, 50);
}
.container
{
	margin: 0px auto;
	width: 1350px;
}
#nav-wrapper
{
	/*background: linear-gradient(180deg, #ffffff, #cbcbcb);*/
	background: linear-gradient(130deg, rgba(255, 204, 204, 0.5568627451) 0%, rgba(169, 212, 255, 0.4823529412) 100%);
  	box-shadow: 0 0 10px 5px rgb(136, 136, 136);
	
}
#nav-wrapperM
{
	/*background: linear-gradient(180deg, #ffffff, #cbcbcb);*/
	background: linear-gradient(130deg, rgba(243, 138, 255, 0.557) 0%, rgba(244, 212, 253, 0.482) 70%);
  	box-shadow: 0 0 10px 5px rgb(52, 52, 52);
	
}
#nav
{
	position: relative;
	height: 100px;
	
}
#back
{
	background-image: url(images/bg.gif);
	background-size: 100%;
}
#logobg
{
	background-image: url(images/fall.gif);
	background-size: 50%;
}
#logo 
{
	position: absolute;
	top: -1.5em;
	width: 100%;
    font-family: 'LanterosySansSerif';
	
	background: linear-gradient(130deg, #ff0202 0%, #127eea 20%);
    /*background: linear-gradient(130deg, #000000 0%, #007902 20%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prepiska
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin-top: -3.0em;
    left: 4em;
    letter-spacing: 0.15em;
	background: linear-gradient(130deg, #ff0202 0%, #127eea 20%);
    /*background: linear-gradient(130deg, #000000 0%, #015102 70%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu
{
	position: absolute;
	right: 0;
	top: 0.5em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}
#menu li a
{
	display: inline-block;
	margin-left: 0.1em;
	padding: 1em 1.5em 0em 1.5em;
	letter-spacing: 0.02em;
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	outline: 0;
	color: #1a1919;
}
#banner
{
	
	position: relative;
	top: 1em;
	width: 1350px;
	text-align: center;
	color: rgb(10, 9, 9);
	font-size: 1.5em;
}
#bannerM
{
	
	position: relative;
	top: 2em;
	width: 1000px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px #000;
	font-family:cursive;
	font-size: 1.5em;
}
.text-field {
	display: inline-block;
	width: 15%;
	position: relative;
	left: 1em;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .text-field-big {
	display: inline-block;
	width: 40%;
	position: relative;
	left: 1em;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .button {
	display: inline-block;
	font-weight: 400;
	line-height: 2.3;
	position: relative;
	margin-top: 0.1em;
	left: 2.5em;
	width: 10%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #0d6efd;
	border: 1px solid #0d6efd;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: background-color 0.15s ease-in-out;
  }

  #info-table {
	/*box-shadow: 0 0 10px 1px rgb(107, 107, 107);*/
	color: rgb(0, 0, 0);
	position: relative;
	opacity: 100%;
	margin-left: 1em;
	margin-top: 2em;
	padding-bottom: 2em;
	border-collapse: collapse; /* Свернуть границы */
	width: 98%; /* Полная ширина */
	/*border: 1px solid #f9f0f0;*/ /* Добавить серую границу */
	font-size: 20px; /* Увеличить размер шрифта */
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	
  }
  
  #info-table th, td {
	padding: 1.2em;	
	
  }
  #info-table td:nth-child(1){ width: 10%; }
  #info-table td:nth-child(2){ width: 70%; }
  #info-table td:nth-child(3){ width: 10%; }
  #info-table td:nth-child(4){ width: 10%; }
  #info-table tr {
	/* Добавить нижнюю границу для всех строк таблицы */
	border-bottom: 20px solid rgb(252, 250, 243);
	display: block;
	border-radius: 2em;
	
  }
  
  #info-table tr:hover {
	/* Добавить серый цвет фона для заголовка таблицы и при наведении курсора мыши */
	background-color: #ffefef;
  }
  #info-table-admin {
	/*box-shadow: 0 0 10px 1px rgb(107, 107, 107);*/
	color: #000;
	position: relative;
	opacity: 100%;
	margin-top: 1em;
	margin-left: 1em;
	padding-bottom: 2em;
	border-collapse: collapse; /* Свернуть границы */
	width: 98%; /* Полная ширина */
	/*border: 1px solid #f9f0f0;*/ /* Добавить серую границу */
	font-size: 18px; /* Увеличить размер шрифта */
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  #info-table-admin td:nth-child(1){ width: 10%; }
  #info-table-admin td:nth-child(2){ width: 60%; }
  #info-table-admin td:nth-child(3){ width: 10%; }
  #info-table-admin td:nth-child(4){ width: 10%; }
  #info-table-admin td:nth-child(4){ width: 10%; }
  #info-table-admin th, td {
	text-align: center; /* Выравнивание текста по левому краю */
	padding: 1.2em; /* Добавить отступ */
	width: 7%;
  }
  
  #info-table-admin tr {
	/* Добавить нижнюю границу для всех строк таблицы */
	border-bottom: 20px solid rgb(252, 250, 243);
	display: block;
	border-radius: 2em;
	/*opacity: 10%;*/
  }
  
  #info-table-admin tr:hover {
	/* Добавить серый цвет фона для заголовка таблицы и при наведении курсора мыши */
	background-color: #ffefef;
  }
  .form_toggle {
	display: inline-block;
	overflow: hidden;
	position: relative;
	left:1em;
	top:0.88em;
}
.form_toggle-item {
	float: left;
	display: inline-block;
}
.form_toggle-item input[type=radio] {
	display: none;
}
.form_toggle-item label {
	display: inline-block;
	padding: 0px 15px;   
	line-height: 2.09;    
	border: 1px solid #999;
	border-right: none;
	cursor: pointer;
	user-select: none;   
}
 
.form_toggle .item-1 label {
	border-radius: 6px 0 0 6px;
	width: 4em;
}
.form_toggle .item-2 label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
	width: 4em;
}
 
/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
	background: #ffadad;
}
.form_toggle .item-2 input[type=radio]:checked + label {
	background: #a3ff72;
}
  .buttonDB {
	display: inline-block;
	font-weight: 400;
	line-height: 2.3;
	position: relative;
	left: -2.52em;
	width: 62%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #f91717;
	border: 1px solid #f52424;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: background-color 0.15s ease-in-out;
  }
  
  .buttonDB:hover {
	background-color: #c80000;
	border-color: #c80000;
  }
  .modal {
	position: fixed; /* фиксированное положение */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5); /* цвет фона */
	z-index: 1050;
	opacity: 0; /* по умолчанию модальное окно прозрачно */
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in; /* анимация перехода */
	pointer-events: none; /* элемент невидим для событий мыши */
	margin: 0;
	padding: 0;
  }
  
  /* при отображении модального окно */
  .modal:target {
	opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
	overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
  }
  
  /* ширина модального окна и его отступы от экрана */
  .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
  }
  
  @media (min-width: 576px) {
	.modal-dialog {
	  max-width: 500px;
	  margin: 70px auto; /* для отображения модального окна по центру */
	}
  }
  /* свойства для блока, содержащего контент модального окна */
  .modal-content {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 30px 10px;
	/*border-radius: .6rem;*/
	outline: 0;
  }
  
  @media (min-width: 768px) {
	.modal-content {
	  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
  }
  /* свойства для заголовка модального окна */
  .modal-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #eceeef;
  }
  
  .modal-title {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 1.25rem;
	font-weight: 500;
  }
  
  /* свойства для кнопки "Закрыть" */
  .close {
	float: right;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.5;
	text-decoration: none;
  }
  
  /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
  .close:focus, .close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.75;
  }
  
  /* свойства для блока, содержащего основное содержимое окна */
  .modal-body {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15px;
	overflow: auto;
  }
  .text-field1 {
	margin-bottom: 1em;
  }
  .text-field__label1 {
	position: relative;
	display: block;
	color: #000;
	margin-bottom: 0.25rem;
  }
  
  .text-field__input1 {
	display: block;
	width: 90%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .text-field__message1 {
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 0.875rem;
	color: #dc3545;
  }
  
  .text-field__input1:invalid,
  .text-field__input1:valid {
	border-color: #dc3545;
	padding-right: 2.25rem;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.5625rem center;
	background-size: 1.125rem 1.125rem;
  }
  
  .text-field__input1:valid {
	border-color: #198754;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  }
  
  .text-field__input1:invalid:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
  }
  
  .text-field__input1:valid:focus {
	border-color: #198754;
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
  }
  button {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
	margin-top: 1em;
	left: 7em;
	width: 50%;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #0d6efd;
	border: 1px solid #0d6efd;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: background-color 0.15s ease-in-out;
  }
  
  button:hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
  }
  .exit{
	cursor: pointer;
  }
  .waves {
	position: absolute;
	width: 100%;
	height: 15vh;
	bottom: -5px;
	min-height: 100px;
	max-height: 150px;
  }
  
  .parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  
  .parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
  }
  
  .parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
  }
  
  .parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
  }
  
  .parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
  }
  
  @keyframes move-forever {
	0% {
	  transform: translate3d(-90px, 0, 0);
	}
	100% {
	  transform: translate3d(85px, 0, 0);
	}
  }
  /*Shrinking for mobile*/
@media (max-width: 1280px) {
.waves
{
	height: 40px;
	min-height: 40px;
}
.content
{
	height: 30vh;
}
h1
{
	font-size: 24px;
}
}